<footer>
    <div class="footer-wrap">
        <div class="footer-inner">
            <div class="footer-logo">
                <a  routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img class="img-logo" src="https://firebasestorage.googleapis.com/v0/b/mono-project-35634.appspot.com/o/images%2Flogo.svg?alt=media&token=aa8951c1-d5ec-48c3-b8a8-a5e3b33a595f" alt="">
            </a></div>
            <div class="footer-nav">
                <a  routerLink="/actions/" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <p>Акції на суші</p>
                </a>
                <a  routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">
                <p>Про нас</p></a>
                <p>Договір оферти</p>
            </div>
            <div class="footer-location foot">
                <h4>Точки самовивозу</h4>
                <p> вул. Володимира Великого, 10в</p>
                <p>вул. Чорновола, 95</p>
                <p>вул. Зелена 204б</p>
            </div>
            <div class="footer-order foot">
                <h4>Оформити замовлення</h4>
                <p> +380978780837</p>
            </div>
            <div class="footer-schedule foot">
                <h4>Графік роботи</h4>
                <p>працюємо з 11:00 до 22:30</p>
            </div>
        </div>
    </div>
</footer>
