<section>
    <div class="main-wrap">
    <div (click)="closeModal()" class="close-modal">X</div>
    <h1>МИ ЗАТЕЛЕФОНУЄМО</h1>
    <p class="call-title">Залиште номер телефону і наші менеджери зв’яжуться з вами</p>
    <form >
        <div class="inner">
            <input type="text" autocomplete="on"  placeholder="Ваше ім'я" />
      <input type="text" id="email" formControlName="email" placeholder="Ваш номер телефону" />

      <button type="submit"  class="send-message" ><h4>НАДІСЛАТИ</h4></button>
        </div>
</form></div>
</section>
    
   

