<section>
    <div class="main-wrap">
        <div class="inner">
            <div class="block1">
                <div class="inner-title">
                    <div class="number-title">1</div>
                    <div class="title">Особисті дані</div>
                </div>
                <div class="form">
                    <form >
                        <div class="main-info">
                            <input type="text" placeholder="*Ваше ім'я">
                            <input type="text" class="last-name" placeholder="*Ваше прізвище">
                        </div>
                        <input type="text" class="another-info" placeholder="*Ваш номер телефону">
                        <input type="text" class="another-info" placeholder="*Ваш email">
                    </form>
                </div>
            </div>
           


<div class="block2">
    <div class="inner-title">
        <div class="number-title">2</div>
        <div class="title">Адреси</div>
    </div>
    <div class="adress-button">
        <button type="submit" class="btn btn-1">ДОДАТИ АДРЕСУ</button>
        <button type="submit" class="btn btn-2">ЗБЕРЕГТИ ЗМІНИ</button>
    </div>
</div>
        </div>
    </div>
</section>
