<section>
    <div class="main-wrap">
        <div class="container">
            <div class="container-inner">
            <div class="action-title">
                 <p class="title">{{actionDetails.main_title}}</p> 
            </div>
            <div class="description-wrap">
                <div class="action-description" *ngFor="let text of actionText">
                    <ul>
                     <li class="text">{{text}}.</li>
                    </ul> 
                 </div>
            </div>
        </div>
        </div>
    </div>
</section>
