<section>
    <div class="home-baner">
        <div class="home-baner-inner">
            <p class="baner-title">Ми - доставка <span>щастя</span>.</p>
            <p class="baner-title"><span>Monosushi</span>-ми любимо коли <br> тобі смачно.</p>
            <p class="baner-description">Насмачніші сушики вже чекають на тебе. Не барись, а обирай свої <br> улюблені
                позиції і вже скоро вони будуть у тебе!</p>
            <a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button class="baner-about"> Детальніше</button></a>
        </div>
    </div>
    <div class="after-baner">
        <div class="container">
            <div class="row">
                <div class="after-baner-item">
                    <div class="after-baner-photo">
                        <img src="https://firebasestorage.googleapis.com/v0/b/mono-project-35634.appspot.com/o/images%2Fmn-delivery-img.svg?alt=media&token=da657080-da9e-4137-bed6-40819bab41d1"
                            alt="">
                    </div>
                    <button class="after-baner-button">
                        <a  routerLink="/delivery" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Зона доставки</a>
                    </button>
                </div>
                <div class="after-baner-item">
                    <div class="after-baner-photo">
                        <img src="https://firebasestorage.googleapis.com/v0/b/mono-project-35634.appspot.com/o/images%2Fmono-supermen.svg?alt=media&token=9e9eeff5-71a7-405f-86e2-b7db38f1be21"
                            alt="">
                    </div>
                    <p class="delivery-time">Середній час доставки в <br> зеленій зоні 00:43:00</p>
                </div>
                <div class="after-baner-item">
                    <div class="after-baner-photo">
                        <img src="https://firebasestorage.googleapis.com/v0/b/mono-project-35634.appspot.com/o/images%2Fmono-bonus.svg?alt=media&token=780cbaf6-8d9e-4f2b-93af-963e3c49cbff"
                            alt="">
                    </div>
                    <div class="">
                        <p class="delivery-time">Наш графік роботи <br> Працюємо з 11 до 22:30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-rolls></app-rolls>
