<section class="delivery-main">
    <div class="container">
        <div class="delivery">
            <div class="pay-deliver">
                <h1>Доставка та оплата</h1>
            </div>
        </div>
        <div class="delivery-zones">
            <div class="green-zone">
                <div class="delivery-photo">
                    <img src="https://firebasestorage.googleapis.com/v0/b/mono-project-35634.appspot.com/o/images%2Fmn-delivery-img.svg?alt=media&token=da657080-da9e-4137-bed6-40819bab41d1"
                            alt="">
                </div>
                <div class="green-title">
                    <p class="delivery-title">Зелена зона</p>
                    <p class="title-g">В межах зеленої зони ми доставляємо протягом  <span class="title-green">1 год.</span> </p>
                    <p class="title-g">Мінімальна сума замовлення в цю зону  становить <span class="title-green">400 грн</span> </p>
                </div>
            </div>
            <div class="yellow-zone">
                <div class="delivery-photo">
                    <img src="https://firebasestorage.googleapis.com/v0/b/mono-project-35634.appspot.com/o/images%2Fmn-delivery-img.svg?alt=media&token=da657080-da9e-4137-bed6-40819bab41d1"
                            alt="">
                </div>
                <div class="yellow-title">
                    <p class="delivery-title title-yellow">Жовта зона</p>
                    <p class="title-g">В межах жовтої зони ми доставляємо  протягом <span class="title-yellow">1,5 год.</span> </p>
                    <p class="title-g" >Мінімальна сума замовлення в цю зону  становить <span class="title-yellow">500 грн</span> </p>
                </div>
            </div>
        </div>
        <div class="delivery-description">
            <p class="title-1">Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей.
            </p>
            <p>Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки.
                Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год. В жовту зону, яка знаходиться значно далі – до 1,5 год.
                </p>
        </div>
        
    </div>
   
</section>
<section class="pay">
<div class="container">
    <div class="only-pay">
        <h1>Оплата</h1>
    </div>
    <div class="pay-method">
        <div class="pay-cash">
            <div class="cash-img">
                <img src="https://firebasestorage.googleapis.com/v0/b/mono-project-35634.appspot.com/o/images%2Fpay-info-img-3.svg?alt=media&token=ef80d443-bf09-428d-b25d-b346d35ab363" alt="">
            </div>
            <div class="cash-description">
                <h2>Оплата готівкою</h2>
                <p class="pay-title">Розраховуйтесь за свої улюблені  сушики готівкою при отриманні.</p>
            </div>
        </div>
        <div class="pay-card">
            <div class="cash-img">
               <img src="https://firebasestorage.googleapis.com/v0/b/mono-project-35634.appspot.com/o/images%2Fpay-info-img-1.svg?alt=media&token=d29a6c0f-fecc-405d-bd57-b818775e80bb" alt="">
            </div>
            <div class="cash-description">
                <h2>Безготівкова оплата</h2>
                <p class="pay-title">Розраховуйтесь за свої улюблені  сушики онлайн або карткою при отриманні.</p>
            </div>
        </div>
    </div>
    <div class="pay-about delivery-description">
        <p>Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.
        </p>
        <p>Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це оператора по телефону.</p>
    <p>Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».</p>
    </div>
    
</div>
</section>
