<section>
    <div class="main-wrap">
        <div class="product-wrap">
        <div class="product-title">
            <h1>Безалкогольні напої</h1>
            </div></div>
        <div class="container">
            <div class="product-item" *ngFor="let itemBeverage of beverage">
                <a [routerLink]="['/product', itemBeverage.path]">
                <div class="for-img">
                    <img src={{itemBeverage.img}} alt="">
                </div>
                <h2>{{itemBeverage.name}}</h2>
                <h4 class="product-weight">{{itemBeverage.weight}} л</h4>
            </a>
                <div class="btn">
                    <div class="product-price"><b>{{itemBeverage.price * itemBeverage.count}}</b> грн</div>
                    <div class="btn-order">
                        <button (click)="productCount(itemBeverage, false)" class="count-btn">-</button>
                        <input type="text" class="count" value="1" [value]="itemBeverage.count">
                        <button  (click)="productCount(itemBeverage, true)" class="count-btn">+</button>
                    </div>
                    <button class="order" (click)="addToBasket(itemBeverage)">ЗАМОВИТИ</button>
                </div>
                
            </div>
        </div>
    </div>
</section>

